div#wrapper {
    font-family:Roboto,sans-serif;
    padding-left: 200px;
}

body{
margin:0px;
background-color:#ff6d74;
}
header{
    font-family:Roboto,sans-serif;
    padding-left:200px;
    background-color: #fff399;
    width:100%;
    height:100%;

}
nav{

    padding-left:800px;
}
img{
    padding:20px;
    width:70%;
}
h1,h2,h3,h4{
    color:#fff399;
    padding:0px;
    margin:0px;
}
a{
    color:#fff399;
}
a1{
    color:black;
}
article{
    margin-top:20px;
    margin-bottom:20px;
    display:inline-block;
    width:33%;
    padding-right:10px;
    vertical-align:top;
}
.left, .right {
    float: left;
    width: 20%;
}

.main {
    float: left;
    width: 60%;
}
@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
    }
}